{% extends 'layout.html.twig' %}

{% block content %}

    <div class = "pageChat">
        <div>
            <img class="grosChatRond" src="{{ chat.photo}}" alt="Photo de {{ chat.nom }}"></img>
        </div>

        <div class="droitedelapageChat">
            <h6> {{ chat.nom }} </h6>
            <p><b>Age :</b> {{ chat.age}} an{% if chat.age != 1 %}s{% endif %} </br></br>
            <b>Sexe :</b> {{ chat.sexe}}</br></br>
            <b>Race :</b> {{chat.race}}</br></br>
            <b>Couleur :</b> {{chat.couleur}}</br></br>
            <b>Petite présentation :</b> {{chat.presentation}}</br></br>
            <b>Vaccination :</b> {{chat.vaccin}}</br></br>
            <b>Stérilisation :</b> {{chat.sterilise}}</br></br>
            <b>Compatible autres animaux :</b> {{ chat.compatibilite_autre_animaux}}</br></br>
            </p>
        </div>
    </div>
    <div class="ContainerFormAdoption">
        <form class ="formAdoption" action = "addadoptant" name = "adoptform" id="adoptform" method="POST">
            <h6>Formulaire d'adoption</h6>

            <input type="hidden" value= "{{chat.id}}" name="chat_id">

            <div class ="infoAdoptant">
            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" name="prenom" placeholder="Gustave" required>
            </div>

            <div class ="infoAdoptant">
                <label for="nom">Nom:</label><br>
                <input type="text" id="nom" name="nom" placeholder="Eiffel" required>
            </div>

            <div class ="infoAdoptant">
            <label for="adresse">Votre adresse:</label>
            <input type="text" id="adresse" name="adresse" placeholder="55 rue de la gauloise" required>
            </div>

            <div class ="infoAdoptant">
            <label for="telephone">Votre numéro de téléphone:</label>
            <input type="text" id="telephone" name="telephone" placeholder="01234656789" required>
            </div>

            <div class ="infoAdoptant">
            <label for="Code_postal">Votre code postal:</label>
            <input type="text" id="Code_postal" name="Code_postal" placeholder="00000" required>
            </div>

            <div class ="infoAdoptant">
            <label for="ville">Votre ville:</label>
            <input type="text" id="ville" name="ville" placeholder="Paris" required>
            </div>

            <div class ="infoAdoptant">
            <label for="mail">Email:</label>
            <input type="email" id="mail" name="email" placeholder="votreadresse@email.com" required>
            </div>

            <input type="submit" value="Adopter ce chat !" id="submit">
        </form>
    </div>

{% endblock %}

