{% extends 'layout.html.twig' %}

{% block content %}

    <div class = "pageChat">
        <div>
            <img class="grosChatRond" src="{{ chat.photo}}" alt="Photo de {{ chat.nom }}"></img>
        </div>

        <div class="droitedelapageChat">
            <h6> {{ chat.nom }} </h6>
            <p> {{chat.age}} ans </br></br>
            Petite présentation : {{chat.presentation}}</br></br>
            Vaccination : {{chat.vaccin}}</br></br>
            Stérilisation : {{chat.sterilise}}</br></br>
            Compatible autres animaux : {{ chat.compatibilite_autre_animaux}}</br></br>
            Sexe : {{ chat.sexe}}</br></br>
            Race : {{chat.race}}</br></br>  
            Couleur : {{chat.couleur}}
            </p>
                <div class="textbutton"><button><a href="chatformadopt">Je l'adopte !</a></button></div>
        </div>
    </div>
    
{% endblock %}

