{% extends 'layout.html.twig' %}

{% block content %}

    <div class = "pageChat">
        <div>
            <img class="grosChatRond" src="." alt=""></img>
        </div>

        <div class="droitedelapageChat">
            <h6>Nom du chat</h6>
                <div class="nom_age_button"></br>
                <p>“Ce chat est génial !” 8 mois<p>
                    <button><a href="chatadopt">Je l'adopte !</a></button>
        </div>

            <section id="textPresentation">
                <h6>Plus d'informations</h6>
                    <p>Vaccination : Oui, à jour
                    Stérilisation : Oui
                    Son histoire : Retrouvé dans la rue, non pucé mais stérélisé. Chat surement perdu.
                    Son caractère : Doux, gentil et très calin. Aime les autres animaux/chats et les enfants
                    </p>
            </section>
        </div>
    </div>
    
    {% for chat in chats %}

<tr>
    
    <td><a href="chats?id={{chat.id}}" >{{ chat.nom}}</a></td>
    <td><img src ="{{ chat.photo}}"/></td>
    <td>{{ chat.age}}</td>
    <td>{{ chat.race}}</td>
    <td>{{ chat.couleur}}</td>
    <td>{{ chat.sexe}}</td>
    <td>{{ chat.date_arrivee}}</td>
    <td>{{ chat.vaccin}}</td>
    <td>{{ chat.sterilise}}</td>
    <td>{{ chat.compatibilite_autre_animaux}}</td>
    <td>{{ chat.presentation}}</td>
</tr>

{% endfor %}

{% endblock %}

