{% extends 'layout.html.twig' %}

{% block content %}

<img class="" src="." alt=""></img>
<div class = "Dicton"> 
    <p>
        “Si l'on pouvait croiser l'homme et le chat, ça améliorerait l'homme, mais ça dégraderait le chat.” Mark Twain.
    </p>
</div>

<h5>Les chats</h5>
    <div class = "fichesChat">
        <div class = "premieresFiches"> 
            <div class = "ficheChat">
                <div class="photoTitre">
                    <img class="chatrond" src="." alt=""></img>
                    <p> Son nom - Son âge </p>
                </div>

                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>

            <div class = "ficheChat">
                <div class="photoTitre">
                    <img class="chatrond" src="." alt=""></img>
                    <p> Son nom - Son âge </p>
                </div>
                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>
        </div>

        <div class="dernieresFiches">
            <div class = "ficheChat">
                <div class="photoTitre">
                    <img class="chatrond" src="." alt=""></img>
                    <p> Son nom - Son âge </p>
                </div>

                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>

            

            <div class = "ficheChat">
                <div class="photoTitre">
                <img class="chatrond" src="." alt=""></img>
                <p> Son nom - Son âge </p>
                </div>

                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>
        </div>
    </div>
{% for chat in chats %}

        
    
                    <a href="chats?id={{chat.id}}" >{{ chat.nom}}</a>
                        <img src ="{{ chat.photo}}"/>
                        {{ chat.age}}
                        {{ chat.race}}
                        {{ chat.couleur}}
                        {{ chat.sexe}}
                        {{ chat.date_arrivee}}
                        {{ chat.vaccin}}
                        {{ chat.sterilise}}
                        {{ chat.compatibilite_autre_animaux}}
                        {{ chat.presentation}}
            
        
    {% endfor %}
{% endblock %}
