{% extends 'layout.html.twig' %}
{% block content %}

<img class="" src="." alt=""></img>
    <div class = "Dicton"> 
        <p>
            “Dieu a inventé le chat pour que l'homme ait un tigre à caresser chez lui.” Victor Hugo
        </p>
    </div>


    <h5>Nos chats à adopter</h5>
    {% for chat in chats %}
        <div class = "fichesChat">
            <div class = "premieresFiches"> 
                <div class = "ficheChat">
                    <div class="photoTitre">
                        <img class="chatrond" src="{{ chat.photo}}" alt=""></img>
                        <p> <a href="chats?id={{chat.id}}" >{{ chat.nom}}</a> - {{ chat.age}} </p>
                    </div>


                <div class="catDesc">
                    <p>Description : {{ chat.presentation}}</p>
                </div>
            
            </div>

    {% endfor %}

            <div class = "ficheChat">
                <div class="photoTitre">
                    <img class="chatrond" src="." alt=""></img>
                    <p> Son nom - Son âge </p>
                </div>
                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>
        </div>

        <div class="dernieresFiches">
            <div class = "ficheChat">
                <div class="photoTitre">
                    <img class="chatrond" src="." alt=""></img>
                    <p>  -  </p>
                </div>

                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>

            

            <div class = "ficheChat">
                <div class="photoTitre">
                <img class="chatrond" src="." alt=""></img>
                <p> Son nom - Son âge </p>
                </div>

                <div class="catDesc">
                    <p>Description : Rayu est un chat plutot calme qui aime les gratouilles mais il sait aussi etre indépendant et joueur quand il est stimulé.
                            OK chat,Chien et enfants il s’adaptera facilement a votre vie de famille.</p>
                </div>
            </div>
        </div>
    </div>


        
    
                    
                       
                        
                        {{ chat.race}}
                        {{ chat.couleur}}
                        {{ chat.sexe}}
                        {{ chat.date_arrivee}}
                        {{ chat.vaccin}}
                        {{ chat.sterilise}}
                        {{ chat.compatibilite_autre_animaux}}
                        
            
        
    
{% endblock %}
